* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 400;
}
button, input, textarea {
    font-family: inherit;
    border: none;
    background-color: transparent;
}
input:focus, textarea:focus {
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s;
}
ul, ol, menu {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}